@model Assignment2.WebApplication.Models.WeatherInfo
@{
    ViewBag.Title = "AddWeatherinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Add new weather information</h2>
@using (Html.BeginForm("Create", "Maintainer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Day)
        @Html.TextBoxFor(m => m.Day, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Weather)
        @Html.TextBoxFor(m => m.Weather, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Outfit)
        @Html.TextBoxFor(m => m.Outfit, new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Temperature)
        @Html.TextBoxFor(m => m.Temperature, new {@class="form-control"})
    </div>
}

