
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Maintainer";
}
@using Assignment2.WebApplication.Controllers
@using Assignment2.Database
@model List<WeatherInfo>


<h2>Maintainer</h2>
<p>Welcome! Maintainer.</p>

<h2>Weather Info</h2>

<table class="table">
    <tr>
        <th>Day </th>
        <th>Weather </th>
        <th>Outfit</th>
        <th>Temperature</th>
        <th>Last Maintainer</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Day</td>
            <td>@item.Weather</td>
            <td>@item.Outfit</td>
            <td>@item.Temperature</td>
            <td>@item.LastMaintainerId</td>
            <td>
                @Html.ActionLink("Edit", "EditWeatherInfo", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteWeatherInfo", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Add", "AddWeatherInfo")
<br />