@model IEnumerable<Assignment2.WebApplication.Models.Maintainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather Info</h2>

<table class="table">
    <tr>
        <th>Weather </th>
        <th>Outfit</th>
        <th>Temperature</th>
        <th>Last Maintainer</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMaintainerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Day }) |
                @Html.ActionLink("Details", "Details", new { id=item.Day }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Day })
            </td>
        </tr>
    }

</table>
<button onclick="location.href = '@Url.Action("Save", "Maintainer")';" class="button">Add New</button>