
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Assignment2.Database
@model WeatherInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather Info</title>
</head>
<body>
    <h1>Weather Info</h1>
    <h2>Add Weather Info</h2>
    @using (Html.BeginForm("Save", "Maintainer"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(w => w.Day)
            @Html.TextBoxFor(w => w.Day, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Weather)
            @Html.TextBoxFor(w => w.Weather, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Weather, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Outfit)
            @Html.TextBoxFor(w => w.Outfit, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Outfit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Temperature)
            @Html.TextBoxFor(w => w.Temperature, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
        </div>

        <button class="button">Save</button>
    }
    <button onclick="location.href = '@Url.Action("Index", "Maintainer")';" class="button">Cancel</button>
</body>

</html>
@Scripts.Render("~/bundles/jqueryval")