
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Assignment2.Database
@model WeatherInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Weather Info</title>
</head>
<body>

    <h2>Maintainer - Add Weather Info</h2>
    @using (Html.BeginForm("Save", "Maintainer"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(w => w.Day)
            @Html.TextBoxFor(w => w.Day, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Weather)
            @Html.TextBoxFor(w => w.Weather, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Weather, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Outfit)
            @Html.TextBoxFor(w => w.Outfit, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Outfit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(w => w.Temperature)
            @Html.TextBoxFor(w => w.Temperature, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button class="btn btn-default">Save</button>
            @Html.ActionLink("Cancel", "Index")
        </div>
    }

</body>

</html>
@Scripts.Render("~/bundles/jqueryval")