@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Assignment2.Database
@model DataDrivenRules
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Rule</title>

</head>

<body>
    <h2>Editor - Delete rule</h2>
    <h3>Are you sure you want to delete this?</h3>
    <br>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)

        <table class="table">
            <tr><td>Question</td><td>@Html.DisplayFor(m => m.Question)</td></tr>
            <tr><td>Question Column</td><td>@Html.DisplayFor(m => m.QuestionColumn)</td></tr>
            <tr><td>Answer</td><td>@Html.DisplayFor(m => m.Answer)</td></tr>
            <tr><td>Answer Column</td><td>@Html.DisplayFor(m => m.AnswerColumn)</td></tr>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Delete</button>
            @Html.ActionLink("Cancel", "Index")
        </div>

    }

</body>
</html>