@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Approver - Report for editors";
}

@using Assignment2.WebApplication.Controllers
@using Assignment2.Database
@model AllRuleListForApprover

<!--The button for navigating to the main apprvor page-->
<br />
<a href='@Url.Action("index", "Approver")'>
    Back
</a>
<br />

<!-- The approver report for editor -->
<h2><strong>Report for editors:</strong></h2>
<br />
<div id="editorReport">

    <br />
    <h3><u>Total count of approved rules for Zhou Amy: @Model.TotalApprovedRulesAmy</u> </h3>
    <br />
    <h3><u>Total count of rejected rules for the Zhou Amy: @Model.TotalRejectedRulesAmy</u></h3>
    <br />
    <h3><u>Total count of unchecked rules for Zhou Amy: @Model.TotalUncheckedRulesAmy</u> </h3>
    <br />
    <h3><u>The success rate for Zhou Amy: @Model.SuccessRateAmy%</u> </h3>
    <br />
    <h3><u>Total count of approved rules for Crys Bui: @Model.TotalApprovedRulesCrys</u> </h3>
    <br />
    <h3><u>Total count of rejected rules for the Crys Bui: @Model.TotalRejectedRulesCrys</u> </h3>
    <br />
    <h3><u>Total count of unchecked rules for Crys Bui: @Model.TotalUncheckedRulesCrys</u> </h3>
    <br />
    <h3><u>The success rate for Crys Bui: @Model.SuccessRateCrys%</u> </h3>
    <br />
    <h3><u>The average success rate: @Model.AverageSuccessRate%</u> </h3>
    <br />

</div>