@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Approver - Report for editors";
}
<style>

    u {
        text-decoration: underline;
    }
</style>

@using Assignment2.WebApplication.Controllers
@using Assignment2.Database
@model AllRuleList


<br />
<a href='@Url.Action("index", "Approver")'>
    Back
</a>
<br />

<h2><strong>Report for editors:</strong></h2>
<br />
<div id="editorReport">

    <br />
    <h3><u>Total count of approved rules for Zhou Amy: @Model.totalApprovedRulesAmy</u> </h3>
    <br />
    <h3><u>Total count of rejected rules for the Zhou Amy: @Model.totalRejectedRulesAmy</u></h3>
    <br />
    <h3><u>Total count of unchecked rules for Zhou Amy: @Model.totalUncheckedRulesAmy</u> </h3>
    <br />
    <h3><u>The success rate for Zhou Amy: @Model.successRateAmy%</u> </h3>
    <br />
    <h3><u>Total count of approved rules for Crys Bui: @Model.totalApprovedRulesCrys</u> </h3>
    <br />
    <h3><u>Total count of rejected rules for the Crys Bui: @Model.totalRejectedRulesCrys</u> </h3>
    <br />
    <h3><u>Total count of unchecked rules for Crys Bui: @Model.totalUncheckedRulesCrys</u> </h3>
    <br />
    <h3><u>The success rate for Crys Bui: @Model.successRateCrys%</u> </h3>
    <br />
    <h3><u>The average success rate: @Model.averageSuccessRate%</u> </h3>
    <br />

</div>