@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Approver - Report for rules";
}

@using System.Web.UI.WebControls
@using Assignment2.WebApplication.Controllers
@using Assignment2.Database
@model AllRuleListForApprover
<br />

<!--The button for navigating to the approver main page. -->
<a href='@Url.Action("index", "Approver")'>
    Back
</a>
<br />

<!--The approver report.-->
<p><h2><strong>Approved Rules:</strong></h2></p>
<br />
<h3><strong>Fixed Approved Rules:</strong></h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Current Status</th>
        <th>Last Editor ID</th>

    </tr>

    @if (Model.ApprovedFixedRules.Count > 0)
    {
        foreach (var item in Model.ApprovedFixedRules)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.CurrentStatus</td>
                <td>@item.LastEditorID</td>
            </tr>
        }
    }

</table>
<br />

<h3><strong>Data-Driven Approved Rules:</strong></h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Question Column</th>
        <th>Answer</th>
        <th>Answer Column</th>
        <th>Current Status</th>
        <th>Last Editor ID</th>
    </tr>

    @if (Model.ApprovedDataDrivenRules.Count > 0)
    {
        foreach (var item in Model.ApprovedDataDrivenRules)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Question</td>
                <td>@item.QuestionColumn</td>
                <td>@item.Answer</td>
                <td>@item.AnswerColumn</td>
                <td>@item.CurrentStatus</td>
                <td>@item.LastEditorID</td>
            </tr>
        }
    }

</table>
<br />
<h3><strong>Total count of approved rules: @Model.TotalApprovedRules</strong></h3>
<br />
<h3><strong>Total count of rejected rules: @Model.TotalRejectedRules</strong></h3>
<br />
<h3><strong>Success rate: @Model.SuccessRate%</strong></h3>
