@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Approver";
}

@using Assignment2.WebApplication.Controllers
@using Assignment2.Database
@model AllRuleListForApprover

<!--Prompt for logged-in approver.-->
<p><h2><strong>Welcome! Approver.</strong></h2></p>
<br />

<!--The button for navigating to the approver report.-->
<a href='@Url.Action("ApproverReportForRule", "Approver")'>
    Go to report
</a>
<br />
<br />
<!--The button for navigating to the approver report for editors.-->
<a href='@Url.Action("ApproverReportForEditor", "Approver")'>
    Go to report for editor
</a>
<br />

<!--The lists of unchecked rules.-->
<p><h2><strong>The Unchecked Rules:</strong></h2></p>
<br />
<h3><strong>Fixed Rules:</strong></h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Current Status</th>
        <th>Last Editor ID</th>
        <th>Approve</th>
        <th>Reject</th>
    </tr>

    @if (Model.UncheckedFixedRules.Count > 0)
    {
        foreach (var item in Model.UncheckedFixedRules)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.CurrentStatus</td>
                <td>@item.LastEditorID</td>

                <td>@Html.ActionLink("Approve", "FixedRulesApproved",new{id = @item.Id})</td>
                <td>@Html.ActionLink("Reject", "FixedRulesRejected", new { id = @item.Id })</td>
            </tr>
        }
    }

</table>
<br />
<br />

<h3><strong>Data-Driven Rules:</strong></h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Question Column</th>
        <th>Answer</th>
        <th>Answer Column</th>
        <th>Current Status</th>
        <th>Last Editor ID</th>
        <th>Approve</th>
        <th>Reject</th>
    </tr>

    @if (Model.UncheckedDataDrivenRules.Count > 0)
    {
        foreach (var item in Model.UncheckedDataDrivenRules)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.Question</td>
        <td>@item.QuestionColumn</td>
        <td>@item.Answer</td>
        <td>@item.AnswerColumn</td>
        <td>@item.CurrentStatus</td>
        <td>@item.LastEditorID</td>

        <td>@Html.ActionLink("Approve", "DataDrivenRulesApproved", new { id = @item.Id })</td>
        <td>@Html.ActionLink("Reject", "DataDrivenRulesRejected", new { id = @item.Id })</td>
    </tr>
        }
    }

</table>

